.card-event-info{
    width: 100%;
    position: absolute;
    bottom: 100px;
    left: 0;
    margin: 0 auto;
    padding: 0 50px;
    color: $txt-color;
    font-family: 'Noto Sans', sans-serif;
    font-style: 16px;
    line-height: 24px;
    z-index: 20;
    opacity: 1;
  }

  