// Specific CSS for your home-page
body{
  background: none;
  height: 100%;
  background: linear-gradient(
    rgba(0,0,0, .5), 
    rgba(0,0,0, .5)),
  url(https://images.unsplash.com/photo-1427805371062-cacdd21273f1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e147179da29e0a45a4c18aeea6f248fe&auto=format&fit=crop&w=2853&q=80) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Noto Sans', sans-serif;

}

html{
  height: 100%;
}