.upperdiv{
    font-size: 12px;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 12px;
    height: $navbar-height;
    display: flex;
    color: white;
    background: rgba(0,0,0,.7);
    position: absolute;
}

.login{
    justify-content: space-between;
}

.nologin{
    justify-content: flex-end;
}

.userForm input[type=submit] {
    background: none;
    color: #ffffff;
}

.upperdiv a{
    text-decoration: none;
    color: white;
    opacity: 0.7;
    transition: 0.3s;
}

.upperdiv a:hover{
    text-decoration: none;
    color: white;
    opacity: 1;
}

#userForm{
    transition: visibility 0s, opacity 0.5s linear;
}

.show-slow {
	transition: height 2000ms ease-in-out, opacity 2500ms ease-in-out;
}

.userForm{
    padding: 30px;
    font-size: 16px;
    width: 300px;
    padding-right: 30px;
    padding-top: 25px;
    top: 40px;
    right: 0;
    height: 300px;
    color: white;
    opacity: 0.7;
    margin-top: 10px;
    position: absolute;
}

.userForm .inp{
    margin-bottom: 20px;
}

// .upperdiv {
//     animation: pulse 2s alternate infinite;
//     -webkit-animation: pulse 2s alternate infinite;
//   }
//   @keyframes pulse {
//     from {opacity:1}
//     to {opacity:0.6}
//   }
//   @-webkit-keyframes pulse {
//     from {opacity:1}
//     to {opacity:0.6}
//   }

.landing_page span,
.landing_page input {
	border:2px solid rgba(255,255,255,.5);
	font-size:1.75em;
	padding:.25em .5em .3125em;
	color:rgba(255,255,255,.5);
	background:transparent;
	transition:all .100s;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	
	&:focus{
		outline:none;
		color:rgba(255,255,255,.75);
		border-color:rgba(255,255,255,.75);
	}
	
	&.keyup {
		color:white;
		border-color:white;
		text-shadow:0 0 .125em white;
		box-shadow:0 0 .25em white,inset 0 0 .25em white;
	}
}


.landing_page canvas {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	pointer-events:none;
}

.landing_page input {
    font-family: 'Noto Sans', sans-serif;
}

$placeholder-color:rgba(255,255,255,.5);

::-webkit-input-placeholder {
	color:$placeholder-color;
	text-shadow:0 0 .125em transparent;
	transition:all .25s;
}
.landing_page input:focus::-webkit-input-placeholder {
	opacity:.5;
}

::-moz-placeholder {
	color:$placeholder-color;
	text-shadow:0 0 .125em transparent;
	transition:all .25s;
}
.landing_page input:focus::-moz-placeholder {
	opacity:.5;
}

:-ms-input-placeholder {
	color:$placeholder-color;
	text-shadow:0 0 .125em transparent;
	transition:all .25s;
}
.landing_page input:focus:-ms-input-placeholder {
	opacity:.5;
}

html,body {
	height:100%;
	overflow:hidden;
}

body {
	box-shadow:inset 0 0 5em #000; 
}

.landing_page input {
	box-sizing:border-box;
	width: 700px;
}


.landing_page{
    justify-content: center;
    justify-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  