.wrapperTitle {
    color: white;
    font-size: 40px;
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 30px;
    font-family: 'Allerta Stencil', sans-serif;
}
