html,body{
    overflow: scroll;
}

.banner{
    margin-top: 28px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.flatpickr-calendar.inline {
    max-height: 640px;
    visibility: visible;
    border-radius: 0;
    border: none;
    background: black;
    opacity: 0.7 !important;
}

.flatpickr-day .today .selected{
    background: none !important;
    border-color: white !important;
    border-radius: 0;
    background: none !important;
    border-color: white !important;
}

.flatpickr-day{
    background: none !important;
}

.flatpickr-day .selected{
    border-color: white !important;
}

.information{
    height: auto;
    width: 100%;
    background: black;
    color: white;
    padding: 50px;
    font-size: 20px;
    text-transform: uppercase;
}

.calendar{
    z-index: 1;
    position: absolute;
    right: 30px;
    top: 60px;
}

.flatpickr-input{
    display: none;
}

.btn-primary {
    background: black;
    opacity: 0.7;
    border-radius: 0;
    border: none;
}

.btn-primary:hover {
    background: black;
    opacity: 0.9;
    border-radius: 0;
    border: none;
}

.venueMap{
z-index: -1;
height: 100%;
width: 100%;
}

.venueTitle{
    z-index: 1;
    color: white;
    font-size: 14px;
    text-align: left;
    padding: 10px;
    background: black;
    opacity: 0.7;
    width: auto;
    min-width: 300px;
    vertical-align: middle;
    text-align: center;
    margin: 28px;
    position: absolute;
}

.back{
    z-index: 1;
    color: white;
    font-size: 14px;
    text-align: left;
    padding: 10px;
    background: black;
    opacity: 0.7;
    width: auto;
    min-width: 300px;
    vertical-align: middle;
    text-align: center;
    margin: 28px;
    margin-top: 140px;
    position: absolute;
}

.back a{
    text-decoration: none;
    color: white;
}

.back:hover{
    opacity: 1;
}

