html,body{
    overflow: scroll;
}

.description_calendar{
    display: flex;
    background: #111;
    color: white;
    padding: 40px;
    justify-content: center;
    font-size: 20px;
}

.calendar .priceButton{
    font-size: 20px;
    opacity: 0.7;
    vertical-align: -webkit-baseline-middle;
}

.description h2{    
    font-family: 'Allerta Stencil', sans-serif;
    margin-bottom: -20px;
}

.description h2:after{
    border: none !important;
}

.description h6{    
    text-transform: none;

    vertical-align: middle;
}

.description p{
    padding-top: 30px;
    font-size: 18px;
    margin:0;
}

.description{
    text-align: center;
    width: 800px;
    padding-top: 50px;
    margin-right: 150px;
    text-transform: uppercase;
}

.information{
    height: auto;
    width: 100%;
    color: white;
    height: 400px;
    font-size: 20px;
    text-transform: uppercase;
    background: none;
    display: flex;
    justify-content: space-between;
}

.information .description{
    margin: 0px;
    font-size: 20px;
    color: white;
    opacity: 1;
}

.banner{
    margin-top: 28px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 55vh;
}

.flatpickr-calendar.inline {
    max-height: 640px;
    visibility: visible;
    border-radius: 0;
    border: none;
        background: none !important;
    opacity: 0.7 !important;
}

.flatpickr-day .today .selected{
    background: none !important;
    border-color: white !important;
    border-radius: 0;
    background: none !important;
    border-color: white !important;
}

.flatpickr-day{
    background: none !important;
}

.flatpickr-calendar{
    background: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.flatpickr-day .selected{
    border-color: white !important;
}

.calendar{
    z-index: 1;
    right: 30px;
    top: 60px;
}

.flatpickr-input{
    display: none;
}

.btn-primary {
    opacity: 0.7;
    border-radius: 0;
    background: none;
    border: 1px solid white;
}

.btn-primary:hover {
    background: none;
    border: 1px solid white;
    opacity: 0.9;
    border-radius: 0;
}

.venueMap{
    width: 100%;
}

.venueSchedule p{
    margin: 0;
    color: white;
}

.venueSchedule h2{    
    font-family: 'Allerta Stencil', sans-serif;
    margin-bottom: -20px;
}

.venueSchedule h2:after{
    border: none !important;
}

.venueSchedule{
    opacity: 0.7;
    position: absolute;
    z-index: 10;
    background: black;
    right: 90px;
    margin-top: 30px;
    text-align: center;
    color: white;
    width: 310px;
}

.tag{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid white;
    opacity: 0.7;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 5px;
    font-size: 12px;
}

.venueTitle{
    z-index: 1;
    color: white;
    font-size: 14px;
    text-align: left;
    padding: 10px;
    background: black;
    opacity: 0.7;
    width: auto;
    min-width: 300px;
    vertical-align: middle;
    text-align: center;
    margin: 28px;
    position: absolute;
}

.back{
    z-index: 1;
    color: white;
    font-size: 14px;
    text-align: left;
    padding: 10px;
    background: black;
    opacity: 0.7;
    width: auto;
    min-width: 300px;
    vertical-align: middle;
    text-align: center;
    margin: 28px;
    margin-top: 140px;
    position: absolute;
}

.back a{
    text-decoration: none;
    color: white;
}

.back:hover{
    opacity: 1;
}

