.landing_action-block{
  background:#111;
  height: auto;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.landing_action-block .action{
  display: flex;
  justify-items: center;
  justify-content: center;
}

.landing_action-block .row{
  color: white;
  opacity: 0.7;
}