.landing_team-block{
  background: white;
  height: auto;
  color: #111;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.landing_team-block h2::after{
  border: solid 1px #111;
}

.landing_team-block .team{
  display: flex;
  justify-items: center;
  justify-content: center;
}

.landing_team-block .row{
  color: white;
  opacity: 0.7;
}

.landing_team-block img{
  height: 150px;
  width: 150px;
  //border: 2px solid #111;
  border-radius: 50%;
  opacity: 0.9;
}

.landing_team-block h4{
  font-weight: bold;
}

.landing_team-block h6{
  color: #929292;
  font-size: 14px;
}