<div class="search">
    <h1>POP UP SHOP</h1>
    <input name="search" type="text" placeholder="e.g. Impact Hub, illustration, Japanese, Tokyo..."/>
    <p>Find local spaces to showcase your arts.</p>
</div>

<span class="scroll-btn">
    <a>
        <span class="mouse">
            <span>
            </span>
        </span>
    </a>
    <p>scroll me</p>
</span>
