    <h2>Our Team</h2>

    <div class="team">
        <div class="col-md-6 col-xl-3 px-md-5 mb-4 mb-xl-0">
            <img src="https://avatars2.githubusercontent.com/u/35948805?v=4">
            <h4 class="text-uppercase">HUANG sam</h4>
            <h6 class="text-uppercase">PROJECT MANAGER</h6>
        </div>
        <div class="col-md-6 col-xl-3 px-md-5 mb-4 mb-xl-0">
            <img src="https://avatars2.githubusercontent.com/u/39263631?s=400&v=4">
            <h4 class="text-uppercase">LI michael</h4>
            <h6 class="text-uppercase">LEAD DEVELOPER</h6>
        </div>
        <div class="col-md-6 col-xl-3 px-md-5 mb-4 mb-xl-0">
            <img src="https://avatars1.githubusercontent.com/u/41472382?s=400&u=6d3bcfe6af57367dcf2ac22e836a6e28e2c5ba4a&v=4">
            <h4 class="text-uppercase">RIVIERE jordan</h4>
            <h6 class="text-uppercase">FRONT END DEVELOPER</h6>
        </div>
    </div>