<div class="upperdiv">
    <a onclick="showUserForm()">LOGIN / SIGNUP</a>
</div>
<div id="userForm" class="userForm"  style="display:none;">
<label for="login" class="inp">
  <input type="text" id="login" placeholder="&nbsp;">
  <span class="label">Login</span>
  <span class="border"></span>
</label>
<label for="password" class="inp">
  <input type="text" id="password" placeholder="&nbsp;">
  <span class="label">Password</span>
  <span class="border"></span>
</label>
</div>