<% unless request.env['PATH_INFO'] == '/' %>
<form action="venues" class=searchSmall>
    <i class="fas fa-search"></i>
    <input name="search" placeholder="e.g. Impact Hub, illustration, modern, Tokyo..." type="text" />
    <input type="submit" hidden />
</form>
<% end %>
