<div class="landing_search-block">
    <%= render 'landing/search_block' %>
</div>

<div class="landing_action-block">
    <%= render 'landing/action_block' %>
</div>

<!--
<div class="landing_login-block">
    <%= render 'landing/login_block' %>
</div>
-->