<div id="calendar-form">
  <form action="#">
    <input type="date" id="datepicker" class="datepicker">
  </form>
  <button id="sweet-alert" class="btn btn-primary" style="margin-top: 15px">Book Event</button>
</div>
