<div id="calendar-form">
  <%= simple_form_for :search do |f| %>
    <%= f.input :date, required: true, label: false, input_html: { class: "datepicker", id: 'datepicker' } %>
    <%= f.submit "Book Event", class: "btn btn-primary" %>
  <% end %>
</div>
