<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous">
</script>


<div class='cardsWrapper'>

    <div class='wrapperTitle'>
        SEARCH RESULT
    </div>

    <div class='cards'>

<div class="blog-card spring-fever">
  <div class="title-content">
    <h3>OSAKA</h3>
    <hr />
    <div class="intro">2-3-4 OSAKA 134-4433</div>
  </div><!-- /.title-content -->
  <div class="card-info">
    Event under the Sakure in Tokyo. All artists are welcome to join. 
  </div><!-- /.card-info -->
  <div class="utility-info">
    <ul class="utility-list">
      <li><i class="far fa-calendar-alt"></i> 14.11.2018</li>
    </ul>
  </div><!-- /.utility-info -->
  <!-- overlays -->
  <div class="gradient-overlay"></div>
  <div class="color-overlay"></div>
</div><!-- /.blog-card -->

<div class="blog-card spring-fever">
  <div class="title-content">
    <h3>ROPONGI TAKAAKI EVENT</h3>
    <hr />
    <div class="intro">POP UP SHOP OUTSIDE</div>
  </div><!-- /.title-content -->
  <div class="card-info">
    Event under the Sakure in Tokyo. All artists are welcome to join. 
  </div><!-- /.card-info -->
  <div class="utility-info">
    <ul class="utility-list">
      <li><i class="far fa-calendar-alt"></i> 14.11.2018</li>
    </ul>
  </div><!-- /.utility-info -->
  <!-- overlays -->
  <div class="gradient-overlay"></div>
  <div class="color-overlay"></div>
</div><!-- /.blog-card -->

<a href="/venues/1">
<div class="blog-card spring-fever">
  <div class="title-content">
    <h3>LOVELY DOUG EVENT</h3>
    <hr />
    <div class="intro">MASSAGE BODY ART</div>
  </div><!-- /.title-content -->
  <div class="card-info">
    Pour your Art on people body to display them arround the street.
  </div><!-- /.card-info -->
  <div class="utility-info">
    <ul class="utility-list">
      <li><i class="far fa-calendar-alt"></i> 14.11.2018</li>
    </ul>
  </div><!-- /.utility-info -->
  <!-- overlays -->
  <div class="gradient-overlay"></div>
  <div class="color-overlay"></div>
</div><!-- /.blog-card -->
</a>
     </div>
</div>

    <div class='cardInfo'>

    </div>

</div>

<!-- to display the map -->
<!-- <%#= render 'shared/map' %> -->
