<div class="banner">
<div class="venueTitle">
VENUE LOCATE IN OSAKA
</div>


<div class="calendar">
<%= render 'calendar_form' %>
</div>

<div class="venueMap">
  <%= render 'shared/map' %>
</div>
</div>

<!-- needs major restyling, add class:"datepicker" to input -->



