<div class="banner">
<div class="venueTitle">
VENUE LOCATE IN OSAKA
</div>
<%= render 'calendar_form' %>
</div>

<!-- needs major restyling, add class:"datepicker" to input


<div class="container" style="margin-top: 40px; color: white">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <h2>Create an event</h2>

  </div>
</div>
-->

<%= render 'shared/map' %>
