<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<form action="/users/sign_out" method="delete">
<input type="submit">
</form>

<%= link_to "Logout", destroy_user_session_path, method: :delete %>